<h1>Welcome to LiveF1.In</h1>

<!--  Session selection -->
<div id="sessions">
  <ul class="inline">
    <li data-each="sessions: session">
      Session
      <a data-bind="href: session.sesionId | sessionUrl; text: session.sessionId"></a>
    </li>
  </ul>
</div>

<!--  Session Details -->
<div id="session-details">
  
  <!--  Weather information -->
  <div id="weather">
    <p>Weather information</p>
  </div>
  
  <!--  Session Leaderboard -->
  <div id="leaderboard"></div>
  
  <!--  Global statistics, fastest car, speed, etc -->
  <div id="statistics">
    <p>Fastest car, fastest speed, etc</p>
  </div>
  
  <!--  Commentary -->
  <div id="commentary">
    <p> Comments here...</p>
  </div>
  
</div>
